
form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-top: 100px;
    max-width: 500px;
    padding: 1rem;
  }
  
  label, input, select {
    margin: 0.5rem 0;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0066b3;
  }
  